In [10]:
import numpy as np # scientific computing
import pandas as pd # handling data through data structures like Series and Dataframe

import matplotlib.pyplot as plt # visualization of plots
from sklearn.linear_model import LogisticRegression # Logistic regression algorithm
from sklearn.model_selection import train_test_split 
from sklearn.metrics import accuracy_score # metric
from sklearn.svm import SVC
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [11]:
data = pd.read_csv("train.csv")
data.head()

,age,workclass,final_weight,education,Learning years,marital-status,occupation,relationship,sex,capital-gain,capital-loss,Workrate,native-country,label,Id
0,31,Private,87891,Assoc-acdm,12,Married-civ-spouse,Sales,Husband,Male,0,0,60,United-States,1,1
1,32,State-gov,175931,HS-grad,9,Married-civ-spouse,Protective-serv,Husband,Male,0,0,40,United-States,1,2
2,41,Private,131591,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,Male,0,0,45,United-States,1,3
3,26,Private,160445,HS-grad,9,Divorced,Craft-repair,Not-in-family,Male,0,0,40,United-States,1,4
4,56,Private,179781,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,Male,0,0,40,United-States,0,5

In [12]:
data.drop(["Id"],axis=1,inplace=True)

In [13]:
data.drop(["native-country"],axis=1,inplace=True)

In [14]:
data.drop(["relationship"],axis=1,inplace=True)

In [15]:
label = data['label']

In [16]:
data.drop(["label"],axis=1,inplace=True)

In [17]:
ct = ColumnTransformer(
    [("scaling", StandardScaler(), ['age', 'Workrate', 'Learning years', 'capital-gain', 'capital-loss']),
     ("onehot", OneHotEncoder(sparse=False),
     ['workclass', 'education', 'gender','marital-status','sex', 'occupation'])])

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(
    data_features,label, random_state=0)

In [18]:
ct.fit(X_train)
X_train_trans = ct.transform(X_train)
print(X_train_trans.shape)

NameError: name 'X_train' is not defined

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y,random_state=42)
lr = SVC(gamma='auto')
lr.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [21]:
prediction_train = lr.predict(X_train)
print(accuracy_score(y_true=y_train,y_pred=prediction_train))

0.9752661752661753

In [22]:
data1 = pd.read_csv("test.csv")
data1.shape

(16281, 14)

In [23]:
Id = data1["Id"]

In [24]:
data1.drop(["Id"],axis=1,inplace=True)

In [25]:
data1.drop(["native-country"],axis=1,inplace=True)

In [26]:
data_dummies1 = pd.get_dummies(data1)
data_dummies1.head()

,age,final_weight,Learning years,capital-gain,capital-loss,Workrate,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,...,occupation_Tech-support,occupation_Transport-moving,relationship_Husband,relationship_Not-in-family,relationship_Other-relative,relationship_Own-child,relationship_Unmarried,relationship_Wife,sex_Female,sex_Male
0,49,182313,9,0,0,40,0,0,0,1,...,0,0,0,1,0,0,0,0,0,1
1,66,183249,13,0,0,20,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
2,26,264300,12,0,0,40,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
3,43,201764,15,0,0,40,0,1,0,0,...,0,0,0,1,0,0,0,0,0,1
4,63,90393,10,0,0,48,1,0,0,0,...,0,0,1,0,0,0,0,0,0,1

In [27]:
features1 = data_dummies1.loc[:, 'age':'sex_Male']
# Extract NumPy arrays
X1 = features1.values
X1.shape

(16281, 59)

In [28]:
prediction_test = lr.predict(X1)

In [29]:
my_solution = pd.DataFrame(prediction_test, Id, columns = ["Prediction"])
print(my_solution.shape)

(16281, 1)

In [30]:
my_solution.to_csv("prediction.csv", index_label = ["Id"])